.container {
    font-family: 'Lato', sans-serif;
    max-width: 1366px;
    margin: 0px auto;
    padding: 20px 15px;
    color:azure;
}

.weather {
  background-color: #498CEC;
  display: grid;
  margin: auto;
  grid-template: repeat(3, 1fr)/repeat(4, 1fr);
  grid-gap: 10px;
  justify-items: center;
  justify-content: space-between;
  grid-template-areas:
  "city city city-mode measurement" 
  "basic basic basic basic" 
  "wind pressure humidity chance-rain";
 }

 @media (max-width:992px) {
     .weather {
        background-color: #498CEC;
        display: grid;
        margin: auto;
        grid-template: repeat(4, 1fr)/repeat(2, 1fr);
        grid-gap: 10px;
        justify-items: center;
        justify-content: space-between;
        grid-template-areas:
        "city  measurement" 
        "basic basic"
        "basic basic" 
        "wind pressure" 
        "humidity chance-rain";
     }
 }

.weather_measurement > div.measurement-box {
  height: 20px;
  width: 60px;
  display: grid;
  grid-template-columns: 50% 50%;
  margin-top: 50%;
  border-radius: 10px;
}

.weather_measurement > div.measurement-box > div.celsius {
  border-radius: 10px 0 0 10px;
  text-align: center;
}

.celsius-light {
    background-color: #bbcde6;
    border-radius: 10px 0 0 10px;
    text-align: center;
}

.weather_measurement > div.measurement-box > div.fahrenheit {
  border-radius: 0 10px 10px 0;
  text-align: center;
}

.fahrenheit-light {
    background-color: #bbcde6;
    border-radius: 0 10px 10px 0;
    text-align: center;
}
.weather_basic > div.weather_basic_info {
    display: grid;
    grid-template-areas:
    "img temp degree"
    "description description description";
    grid-template-rows: 170px 1fr;
}

.weather_basic_img {
    grid-area: img;
}

.weather_basic_temp {
    grid-area: temp;
}

.weather_basic_temp p {
    font-size: 150px;
    margin-top: 1%;
}

.weather_basic_degree {
    grid-area: degree;
}

.weather_basic_degree p {
    font-size: 80px;
    margin-top: 5%;
}

.weather_basic_description {
    grid-area: description;
    margin-top: 15px;
}

.weather_city {
    grid-area: city;
}

.weather_city_box {
    display: grid;
    grid-template-areas:
    "name name name"
    "set imgLoc location";
}

.weather_city_name {
    grid-area: name;
}

.weather_city_set {
    grid-area: set;
    color: rgb(164, 193, 212);
}

.weather_city_img {
    grid-area: imgLoc;
}

.weather_city_location {
    grid-area: location;
    color: rgb(164, 193, 212);
}

.weather_measurement {
    grid-area: measurement;
}
.weather_basic {
    grid-area: basic;
}
.weather_wind {
    grid-area: wind;
    align-self: center;
}

.weather_wind p {
    color: rgb(164, 193, 212);
}

.weather_pressure {
    grid-area: pressure;
    align-self: center;
}

.weather_pressure p {
    color: rgb(164, 193, 212);
}

.weather_humidity {
    grid-area: humidity;
    align-self: center;
}

.weather_humidity p {
    color: rgb(164, 193, 212);
}

.weather_chance-rain {
    grid-area: chance-rain;
    align-self: center;
}

.weather_chance-rain p {
    color: rgb(164, 193, 212);
}

.search {
    position: absolute;
    width: 579px;
    height: 97px;
    border-radius: 5px;
    background-color: #ffff;
    text-align: center;
}

.search input {
    font-size: 36px;
    margin-top: 20px;
    border:none;
    outline: none;
}

.search button {
    border: none;
    font-size: 36px;
    color: dodgerblue;
}
